body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding: 40px 90px;
  color: hsl(234, 12%, 34%);
}
.heading h1 {
  font-weight: 200;
  line-height: 0;
}
.heading h2 {
  font-size: 32px;
  line-height: 0.5;
}
.intro p, p {
  color: #888888;
  font-size: 15px;
  padding-bottom: 60px;
}
.heading, .intro {
  text-align: center;
}
.flex-container {
  display: inline-flex;
  align-items: center;
}
.card {
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 20px 15px #f0f0f0;
  width: 280px;
  height: 220px;
  margin: 15px;
}
.right {
  margin-top: -20px;
  text-align: right;
}
.card-1 {
  border-top: solid 5px hsl(180, 62%, 55%);
}
.card-2 {
  border-top: solid 5px hsl(0, 78%, 62%);
}
.card-3 {
  border-top: solid 5px hsl(34, 97%, 64%);
  margin-top: 25px;
}
.card-4 {
  border-top: solid 5px hsl(212, 86%, 64%);
}
